@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --FONT_BLACK: #000000;
  --FONT_WHITE: #FFFFFF;
  --FONT_YELLOW: #CC9600;
  --FONT_BROWN: #4B330B;
  --FONT_GRAY: #636363;
  
  --ELEMENT_YELLOW: #CC9600;
  --ELEMENT_BROWN: #4B330B;
  --ELEMENT_GRAY: #6F6F6F;
  --ELEMENT_BLUE: #64AEF4;
  --ELEMENT_BLACK: #000000;
  --ELEMENT_WHITE: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Bona Nova', serif;
}

.swiper-slide-custom-pagination > .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--foreground) ;
  border: 2px solid #64AEF4;
}
.swiper-slide-custom-pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 12px !important;
    height: 12px !important;
    background-color: #64AEF4 !important;

}
